
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(135deg, #6b75c3, #e6e1e5, #db4dbd);
  color: #ffff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.profile img {
  display: flex;
  margin: auto;
  border-radius: 80%;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 5%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(135deg, #73b0b6, #e6e1e5, #aa6d9d);
  backdrop-filter: blur(10px);
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #170000;
}
.logo span { color: #160108; }
.navlist {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.navlist li a {
  text-decoration: none;
  color: #eee;
  font-size: 1rem;
  transition: 0.3s;
}
.navlist li a:hover, .navlist .active { color: #8f084e; }

.portfolio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 0 8%;
  padding-top: 15vh;
  gap: 4rem;
}
.intro-text h3 { font-size: .9rem; color: #faf4f4; }
.intro-text h1 { font-size: 3rem; margin: .5rem 0; }
.intro-text h1 span {
  color: #f6f5f5;
  text-shadow: 0 0 10px rgba(208, 214, 212, 0.7);
}
.intro-text h2 { font-size: 2rem; margin-bottom: 1rem; color: #170101; }
.intro-text h2 span { color: #13061c; }
.intro-text p { line-height: 2; margin-bottom: 2.8rem; color: #c7c4c4; }

.btn-container { display: flex; gap: 1rem; margin-bottom: 2rem; }
.btn-primary, .btn-secondary {
  padding: .9rem 1.8rem;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
}
.btn-primary {
  background: linear-gradient(135deg,#c78ea1,#27a07a);
  border: none;
  color: #fff;
}
.btn-primary:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255,64,129,.8);
}
.btn-secondary {
  background: transparent;
  border: 2px solid #cf5539;
  color: #290c0c;
}
.btn-secondary:hover {
  background: #000000;
  color: hsl(0, 0%, 0%);
  transform: scale(1.05);
}


.social-icons { display: flex; gap: 1rem; }
.social-icons i {
  font-size: 1.4rem;
  padding: .7rem;
  background: rgba(255,255,255,.1);
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
}
.social-icons i:hover {
  background: #4e021b;
  color: #fff;
  transform: rotate(10deg) scale(1.2);
}

.right-container { display: flex; justify-content: center; align-items: center; }
.profile-card { width: 320px; height: 320px; position: relative; }
.outer-circle {
  width: 100%; height: 100%;
  border-radius: 50%;
  border: 6px solid rgba(255,255,255,.2);
  animation: rotate 10s linear infinite;
}
.inner-circle {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 260px; height: 260px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid #c2d5cf;
  box-shadow: 0 0 25px rgba(126, 208, 182, 0.6);
}
.inner-circle img { width: 100%; height: 100%; object-fit: cover; }

.section { padding: 5rem 8%; text-align: center; }
.section-title { font-size: 2.5rem; margin-bottom: 2rem; color: #2246e9; }

.edu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 1.5rem;
}
.edu-card {
  background: rgba(255,255,255,.1);
  padding: 1.5rem;
  border-radius: 8px;
  transition: .3s;
}
.edu-card:hover { background: rgba(255,255,255,.2); transform: scale(1.05); }
.edu-card h3 { color: #bc1790; margin-bottom: .5rem; }
.edu-card span { font-size: .9rem; color: #ea8080; }

.work-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}
.work-card {
  background: rgba(30, 7, 7, 0.1);
  padding: 1.5rem;
  border-radius: 10px;
  transition: .3s;
}
.work-card:hover { background: rgba(153, 118, 118, 0.2); transform: scale(1.05); }

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: auto;
}
.contact-form input, .contact-form textarea {
  padding: 1rem;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
}
.contact-form button {
  border: none;
  cursor: pointer;
}
